APPIUM_HOST=127.0.0.1
APPIUM_PORT=4723
APPIUM_BASE_PATH=/wd/hub
APK_PATH=./app/app-release.apk
APP_PACKAGE=com.example.app
APP_ACTIVITY=.MainActivity
USE_INSTALLED_APP=false
DEVICE_NAME=Android Emulator
PLATFORM_VERSION=13.0
DEVICE_UDID=
TEST_TIMEOUT=600000
WAIT_FOR_TIMEOUT=30000
